h1{
    color: red;
}
.title{
 text-align: center;
 font-size: 60px
}
section{
    width: 80%;
    border: solid 1px;
    border-color: #c8c7ca;
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 20px;
}
#gameBod{
    height: 800px;
}
.body{
    height: 33.3%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.pCard{
    border: solid 1px;
    border-color: #c8c7ca;
    width:9%;
    height: 70%;
    position: relative;
    border-radius: 3%;

}
.gCards{
    border: solid 1px;
    border-color: #c8c7ca;
    width:9%;
    height: 70%;
    position: relative;
    border-radius: 3%;

}

#botG{
    align-content: center;
}
h6 {
    position: absolute;
    bottom: 0px;
    padding: 20px;
    background-color: #f91f0994;
}
#scoreBod{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}